.posts {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    background-color: #424242;
    border: 2px solid #3e3e3e;
    min-height: 250px;
}

textarea {
    color: white;
    resize: none;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #3f3f3f;
    border-radius: 10px;
    border: 2px solid #8d8d8d;
    width: calc(100% - 35px);
    height: 150px;
}


button:hover {
    background-color: rgb(60, 123, 240);
}

button:active {
    background-color: rgb(45, 96, 189);
}
button {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(64, 131, 255);
    border-radius: 10px;
    margin: 0 5px 20px 0;
}

.btn_ens {
    display: flex;
    justify-content: flex-end;
}
