.friends {
    text-align: center;
}

.friendsWrapper {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 5px 10px !important;
}

.wrappH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrappH h2 {
    margin: 0 0 10px 0;
}

.wrappH hr {
    width: 75%;
}