.friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}

.friends img {
    padding: 2px;
    border: 4px dotted white;
    border-radius: 100%;
    width: 55px;
    height: 55px;
}
