.dialogs_wrapper hr {
    border: 2px solid;
}

.dialogs_wrapper h2 {
    width: 25%;
    margin: 0 0 15px 0;
}

.dialogs_wrapper {
    color: white;
    border-radius: 10px;
    background: #424242 none repeat scroll 0 0;
    border: 2px solid #3e3e3e;
    padding: 20px;
}
.dialogs {
    display: flex;
    font-size: 17px;

    margin-right: 15px;
}

.dialogs_items {
    width: 30%;
}

.messageWrapper {
    width: 70%;
}

.messageWrapper hr {
    border: 1px solid;
    background-color: rgb(202, 202, 202);
    color: rgb(202, 202, 202);
}

.messageWrapper textarea {
    height: 70px;
    margin-top: 25px;
}
.messageWrapper .btn {
    display: flex;
    justify-content: flex-end;
}
